.card {
    text-align: center;
    padding: 20px;
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
  }
  
  .cake {
    position: relative;
    width: 100px;
    height: 150px;
    margin: 20px auto;
    background-color: #fde6cc;
    border-radius: 10px;
  }
  
  #candle {
    position: absolute;
    bottom: 95px;
    left: 45px;
    width: 10px;
    height: 50px;
    background-color: #ffcd00;
    border-radius: 5px;
  }
  
  .candle-off {
    background-color: #aaa;
  }
  